@import "tailwindcss";

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, #mobile-bottom-nav, button {
    display: none !important;
  }
  .printable-area {
    display: block !important;
    max-height: none !important;
    overflow: visible !important;
    padding: 0 !important;
  }
}
